.*.swp
*.tar.bz2
*.tar.gz
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
/py-compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
context.valid.stamp
contextd/contextd
depcomp
doc/context.html
doc/contextkit.html
install-sh
introspect/Manager.xml
introspect/Subscription.xml
introspect/async/Manager.xml
introspect/async/Subscription.xml
introspect/async/generic-types.xml
introspect/generic-types.xml
libtool
ltmain.sh
missing
/spec/context.valid.stamp
/spec/introspect/
.dirstamp
.deps
*.o
*.lo
*.la
stamp-h1
_package
introspect/Subscriber.xml
introspect/async/Subscriber.xml
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
libcontextprovider/contextprovider.gir
libcontextprovider/contextprovider.vapi
*.libs
doc/reference/libcontextprovider/html
doc/reference/libcontextprovider/libcontextprovider-decl-list.txt
doc/reference/libcontextprovider/libcontextprovider-decl.txt
doc/reference/libcontextprovider/libcontextprovider-overrides.txt
doc/reference/libcontextprovider/libcontextprovider-undeclared.txt
doc/reference/libcontextprovider/libcontextprovider-undocumented.txt
doc/reference/libcontextprovider/libcontextprovider-unused.txt
doc/reference/libcontextprovider/libcontextprovider.args
doc/reference/libcontextprovider/libcontextprovider.hierarchy
doc/reference/libcontextprovider/libcontextprovider.interfaces
doc/reference/libcontextprovider/libcontextprovider.prerequisites
doc/reference/libcontextprovider/libcontextprovider.signals
doc/reference/libcontextprovider/*.stamp
doc/reference/libcontextprovider/tmpl
doc/reference/libcontextprovider/xml
doc/reference/libcontextprovider/libcontextprovider.types
gtk-doc.make
libcontextprovider/dbus_interface.[ch]
libcontextprovider/key_usage_counter.[ch]
libcontextprovider/manager.[ch]
libcontextprovider/string_set.[ch]
libcontextprovider/subscriber.[ch]
libcontextprovider/context_provider.[ch]
libcontextprovider/grouplist.[ch]
libcontextprovider/group.[ch]
contextd/main.[ch]
contextd/plugin.[ch]
contextd/hal_plugin.[ch]
contextd/contextd.vala.stamp
m4/gtk-doc.m4
contextprovider-1.0.pc
doc/context-providers.html
libcontextprovider/libcontextprovider.vala.stamp
libcontextprovider/value_compare.[ch]
spec/context-provider-schema.html
spec/context-properties.html
spec/contextkit.html
doc/context-intro.html
doc/context-properties.html
doc/fig1.svg
doc/fig2.svg
doc/fig3.svg
doc/fig4.svg
doc/fig5.svg
*.gcno
*.gcda
*.pyc
lcov.html/
lcov.info
doc/context-provider-schema.html
tests/unit_tests/test_intset
tests/unit_tests/test_intset.[ch]
tests/unit_tests/test_intset.vala.stamp
tests/unit_tests/test_group
tests/unit_tests/test_group.vala.stamp
tests/unit_tests/test_group.[ch]
tests/unit_tests/test_grouplist
tests/unit_tests/test_grouplist.vala.stamp
tests/unit_tests/test_grouplist.[ch]
tests/unit_tests/test_key_usage_counter
tests/unit_tests/test_key_usage_counter.vala.stamp
tests/unit_tests/test_key_usage_counter.[ch]
tests/unit_tests/test_manager
tests/unit_tests/test_manager.vala.stamp
tests/unit_tests/test_manager.[ch]
tests/unit_tests/test_subscriber
tests/unit_tests/test_subscriber.vala.stamp
tests/unit_tests/test_subscriber.[ch]
tests/unit_tests/test_stringset
tests/unit_tests/test_stringset.vala.stamp
tests/unit_tests/test_stringset.[ch]
tests/unit_tests/test_value_compare
tests/unit_tests/test_value_compare.vala.stamp
tests/unit_tests/test_value_compare.[ch]
tests/contextd_tests/test_hal_plugin
tests/contextd_tests/test_hal_plugin.[ch]
tests/contextd_tests/test_hal_plugin.vala.stamp
tests/contextd_tests/libhal.c
tests/contextd_tests/context_provider.c
tests/contextd_tests/plugin.c
tests/contextd_tests/hal_plugin.c
.project
/python/flexi-properties.xml
/py-compile
/contextd/org.freedesktop.ContextKit.contextd.service
/doc/use-cases.html
/doc/context-arch.html
/doc/context-types.html
/INSTALL
/contextd/org.freedesktop.ContextKit.contextd.service
/doc/fig3.png
/doc/fig4.png
/libcontextprovider/context_provider-internal.h
/libcontextprovider/contextprovider-internal.vapi
/libcontextprovider/intset_binding.c
/tests/python-test-library/config.py
/tests/python-test-library/testfw/com.nokia.ContextProviderExample.service
/tests/python-test-library/testfw/exec-with-log.sh
/tests/python-test-library/testfw/tmp-session-bus.conf
/tests/python-test-library/testfw/tmp-system-bus.conf
