.*.swp
*.tar.bz2
*.tar.gz
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
context.valid.stamp
contextd
depcomp
doc/context.html
doc/contextkit.html
install-sh
introspect/Manager.xml
introspect/Subscription.xml
introspect/async/Manager.xml
introspect/async/Subscription.xml
introspect/async/generic-types.xml
introspect/generic-types.xml
libtool
ltmain.sh
missing
spec/context.valid.stamp
.dirstamp
.deps
*.o
*.lo
*.la
src/MCE.c
src/MCE.h
src/contextd.vala.stamp
src/main.c
src/main.h
stamp-h1
tests/intset
tests/intset.c
tests/intset.h
tests/intset.vala.stamp
tests.stringset
tests/stringset
tests/stringset.c
tests/stringset.h
tests/stringset.vala.stamp
_package
introspect/Subscriber.xml
introspect/async/Subscriber.xml
tests/unit_tests/intset
tests/unit_tests/intset.c
tests/unit_tests/intset.h
tests/unit_tests/intset.vala.stamp
tests/unit_tests/stringset
tests/unit_tests/stringset.c
tests/unit_tests/stringset.h
tests/unit_tests/stringset.vala.stamp
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
contextprovider.gir
contextprovider.vapi
*.libs
doc/reference/libcontextprovider/html
doc/reference/libcontextprovider/libcontextprovider-decl-list.txt
doc/reference/libcontextprovider/libcontextprovider-decl.txt
doc/reference/libcontextprovider/libcontextprovider-overrides.txt
doc/reference/libcontextprovider/libcontextprovider-undeclared.txt
doc/reference/libcontextprovider/libcontextprovider-undocumented.txt
doc/reference/libcontextprovider/libcontextprovider-unused.txt
doc/reference/libcontextprovider/libcontextprovider.args
doc/reference/libcontextprovider/libcontextprovider.hierarchy
doc/reference/libcontextprovider/libcontextprovider.interfaces
doc/reference/libcontextprovider/libcontextprovider.prerequisites
doc/reference/libcontextprovider/libcontextprovider.signals
doc/reference/libcontextprovider/*.stamp
doc/reference/libcontextprovider/tmpl
doc/reference/libcontextprovider/xml
doc/reference/libcontextprovider/libcontextprovider.types
gtk-doc.make
libcontextprovider/dbus_interface.c
libcontextprovider/dbus_interface.h
libcontextprovider/key_usage_counter.c
libcontextprovider/key_usage_counter.h
libcontextprovider/manager.c
libcontextprovider/manager.h
libcontextprovider/string_set.c
libcontextprovider/string_set.h
libcontextprovider/subscriber.c
libcontextprovider/subscriber.h
libcontextprovider/context_provider.c
libcontextprovider/context_provider.h
libcontextprovider/groups.c
libcontextprovider/groups.h
libcontextprovider/group.c
libcontextprovider/group.h
m4/gtk-doc.m4
contextprovider-1.0.pc
doc/context-providers.html
libcontextprovider/libcontextprovider.vala.stamp
libcontextprovider/value_compare.c
libcontextprovider/value_compare.h
tests/unit_tests/test_value_compare.c
tests/unit_tests/test_value_compare.h
tests/unit_tests/value_compare
tests/unit_tests/value_compare.vala.stamp
spec/context-provider-schema.html
/doc/context-intro.html
/doc/context-properties.html
/doc/fig1.svg
/doc/fig2.svg
/doc/fig3.svg
