.*.swp
*.tar.bz2
*.tar.gz
Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
context.valid.stamp
contextd
depcomp
doc/context.html
doc/contextkit.html
install-sh
introspect/Manager.xml
introspect/Subscription.xml
introspect/async/Manager.xml
introspect/async/Subscription.xml
introspect/async/generic-types.xml
introspect/generic-types.xml
libtool
ltmain.sh
missing
spec/context.valid.stamp
.dirstamp
.deps
*.o
src/DBusInterface.c
src/DBusInterface.h
src/MCE.c
src/MCE.h
src/Manager.c
src/Manager.h
src/PluginInterface.c
src/PluginInterface.h
src/contextd.vala.stamp
src/main.c
src/main.h
stamp-h1
