cdbreader.cpp
cdbreader.h
infobackend.cpp
infobackend.h
infocdbbackend.cpp
infocdbbackend.h
infokeydata.h
infoxmlbackend.cpp
infoxmlbackend.h
infobackendunittest
infoxmlkeysfinder.cpp
infoxmlkeysfinder.h
loggingfeatures.h